{{outlet}}
<section class="menu">
	<div {{bind-attr class=":logo isExpanded::logo-change"}} {{action menu}}></div>
	<div class="title"></div>
	<div class="blur"></div>
	<ul {{bind-attr class=":menuItems isExpanded:gray:style-change"}}>
		{{#link-to 'registration' tagName='li'}}<i class="fa fa-user"></i> Visitor{{/link-to}}
		{{#link-to 'map' tagName='li'}}<i class="fa fa-map-marker"></i> Map{{/link-to}}
		{{#link-to 'gallery' tagName='li'}}<i class="fa fa-building-o"></i> Gallery{{/link-to}}
		{{#link-to 'allartwork' tagName='li'}}<i class="fa fa-picture-o"></i> Artwork{{/link-to}}
		{{#link-to 'favorite' tagName='li'}}<i class="fa fa-heart-o"></i> Favorites{{/link-to}}
		{{#link-to 'about' tagName='li'}}<i class="fa fa-info-circle"></i> About{{/link-to}}
		{{#link-to 'help' tagName='li'}}<i class="fa fa-question-circle"></i> Help{{/link-to}}
	</ul>
</section>