<div class="artwork">
	
 {{#each}}
 <p class="gallerytitle">{{galleryTitle}}</p>
 <div class='card'>
	 
 	<h2>{{title}} </h2>
 	<img {{bind-attr src='img'}}>
 	{{desc}}
	<div class='stats'>
	 	3 visits 15 likes 3 comments
 	</div>
	<div class='comments'>
		<div class='buttons'>
			<i class="fa fa-thumbs-o-up"></i> like <i class="fa fa-comments-o"></i> comment
		</div>	
	</div>	
</div>

 {{/each}}
</div>